.btn-color{
    background-color: var(--azul-boton);
}
.btn-color2{
    background-color: var(--azul-boton2);
}
.imagen-footer{
    display: block;
    width: 100px;
    height: 110px;
    margin: 0 auto;
}
.contenido{

    background: linear-gradient(to bottom, #b0e0e6, #87ceeb);
   
}
.btn-color {
    background-color: #3e8ba5; /* Cambia este valor al color deseado */
    color: #fff; /* Establece el color del texto en blanco o en otro color contrastante */
  }
.btn-color:hover {
    background-color: #24505e;
}