<!-- HEADER -->
<!--NAVBAR-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets\img\LogoHilda.png" alt="Logo" width="40" height="40" class="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/pages/inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/pages/sobreNosotros">Sobre nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/pages/productos">Productos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Pedidos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Nuevo pedido</a></li>
                        <li><a class="dropdown-item" href="#">Ver carrito</a></li>
                        <li><a class="dropdown-item" href="#">Consultar pedidos</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Consultar cuenta</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex">
                <a routerLink="/pages/login" class="btn btn-color text-white mx-2" type="submit">Iniciar sesion</a>
            </div>
        </div>
    </div>
</nav>

<!--CONTENIDO-->
<section class="" >
    <router-outlet></router-outlet>
</section>

<!--FOOTER-->
<footer class="text-center text-lg-start bg-light text-muted">
    <section class="pt-2">
        <div class="container text-center text-md-start mt-5">         
            <div class="row mt-3">                
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>
                        AGUAS LA HILDA S.A.S
                    </h6>                 
                    <img src="assets\img\LogoHilda.png" class="imagen-footer" alt="">
                </div>                     
                
                <div class="col-md-4 col-lg-3 col-xl-4 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
                    <p><i class="bi bi-house-fill"></i>Laprida 2882 - B° Alto Alberdi, Córdoba capital.</p>                   
                    <p><i class="bi bi-whatsapp"></i> (+54) 9 351 5937318</p>             
                </div>
                
            </div>
            
        </div>
    </section>
  

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">      
        <h5 class="text-reset fw-bold" href=""> © 2023 Copyright: Chirino Romina,  Moyano Tomas, Primo Felipe</h5>
    </div>
   
</footer>
