<section class="w-75 centrar">
    <div class="title">
        <h1>Mi cuenta</h1>
    </div>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-3 max-auto">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-12 ">
            <div class="card text-bg-success mb-3" style="max-width: 20rem;">
                <div class="card-header">Mis datos personales</div>
                <div class="card-body">
                <h5 class="card-title">Cuenta 00243489 </h5>
                <p class="card-text"></p>
                <p>Nombre: Romina Chirino</p>
                <p>Dirección: Alto Alberdi, Velez 157, 8 </p>
                <p>Mail: romina_chiri@gmail.com</p>
                <p>Telefono: 35164748</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-12 ">
            <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Cuenta corriente</div>
                <div class="card-body">
                <h5 class="card-title">Saldo actual</h5>
                <p class="card-text"> $ 000.00 </p>
            </div>
        </div>
    </div>
    </div>
</section>
<br>

<div class="card-resumen">
    Facturas Adeudadas
    </div>
    <div class="card-body">
        <div class="alert alert-success" role="alert">
            <i class="bi bi-check-circle"></i> Esta cuenta se encuenta sin deuda!
        </div>
</div>
