<section class="w-75  centrar">
    <div class="title1">
        <h1>Resumen de cuenta</h1>
    </div>
    <!--TARJETAS RESUMEN-->
    <div class="row">
        <div class="col-sm-6 col-lg-4 ">
            <div class="mt-4 px-5 py-2  text-white rounded tarjeta col-tar-1">
                <h3>Proximo pago:</h3>
                <p>$1500</p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 ">
            <div class="mt-4 px-5 py-2  text-white rounded tarjeta col-tar-2">
                <h3>Deuda:</h3>
                <p>$3000</p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 ">
            <div class="mt-4 px-5 py-2  text-white rounded tarjeta col-tar-3">
                <h3>Saldo:</h3>
                <p>$4500</p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 ">
            <div class="mt-4 px-5 py-2   text-white rounded tarjeta col-tar-4">
                <h3>Pedidos pendientes:</h3>
                <p>1</p>

            </div>
        </div>
        <div class="col-sm-6 col-lg-4 ">
            <div class="mt-4 px-5 py-2  text-white rounded tarjeta col-tar-5">
                <h3>Estado de cuenta:</h3>
                <p>Activo</p>
            </div>
        </div>
    </div>
    <!--HISTORIAL DE PEDIDOS -->
    <div class="table-responsive mt-3">
        <table class="table table-hover w-100">
            <thead>
                <tr class="table-dark">
                    <th class="" scope="col">Nro Pedido</th>
                    <th class="" scope="col">Fecha de entrega</th>
                    <th class="" scope="col">Total</th>
                    <th class="" scope="col">Estado</th>
                    <th class="" colspan="2" scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td class="">457</td>
                    <td class="">12/11/2023</td>
                    <td class="">$1500</td>
                    <td class=""><span class="badge bg-warning">Pendiente</span></td>
                    <td class=""><a routerLink="/pages/detallePedido">Ver detalle..</a></td>
                </tr>
                <tr class="">
                    <td class="">477</td>
                    <td class="">12/10/2023</td>
                    <td class="">$3000</td>
                    <td class=""><span class="badge bg-success">Entregado</span></td>
                    <td class=""><a routerLink="/pages/detallePedido">Ver detalle..</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>