<section class="w-75  centrar" >
    <div class="title1">
        <h1>Resumen de cuenta</h1>
    </div>
    <!--TARJETAS RESUMEN-->
    <div class="row">
        
        <div class="col-sm-6 col-lg-4 ">
            <div class="mt-4 px-5 py-2  text-white rounded tarjeta col-tar-3">
                <h3>Saldo:</h3>
                <p>${{saldo}}</p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 ">
            <div class="mt-4 px-5 py-2   text-white rounded tarjeta col-tar-4">
                <h3>Pedidos pendientes:</h3>
                <p>{{pedidosPendientes}}</p>

            </div>
        </div>
        
    </div>
    <!--Filtro para pedido-->
    <div class="row mt-5">
        <div class="col-md-10">
          <select class="form-select"  [(ngModel)]="estadoSeleccionado">
            <option value="" selected disabled hidden>Seleccione un estado a filtrar...</option>
            <option value="0">Todos</option>
            <option value="1">Pendiente</option>
            <option value="2">Entregado</option>
            <option value="3">Cancelado</option>
            <option value="4">Reprogramado</option>
          </select> 
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary w-100" (click)="filtrarPorEstados(estadoSeleccionado)" type="submit">Filtrar</button>
        </div>
      </div>
    <!--HISTORIAL DE PEDIDOS -->

    <div class="table-responsive mt-3">
        <table class="table table-hover w-100">
            <thead>
                <tr class="table-dark">
                    <th class="" scope="col">Nro Pedido</th>
                    <th class="" scope="col">Fecha de entrega</th>
                    <th class="" scope="col">Total</th>
                    <th class="" scope="col">Estado</th>
                    <th class="" colspan="2" scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody>
                <tr class="" *ngFor="let pedido of PedidosUsuarioParaMostar">
                    <td class="">{{pedido.idPedido}}</td>
                    <td class="">{{pedido.fechaPedido | date:'dd-MM-yyyy'}}</td>
                    <td class="">${{pedido.importeTotal}}</td>
                    <td class="">
                        <span class="badge bg-warning" *ngIf="pedido.idEstado == 1">Pendiente</span>
                        <span class="badge bg-success" *ngIf="pedido.idEstado == 2">Entregado</span>
                        <span class="badge bg-primary" *ngIf="pedido.idEstado == 4">Reporogramado</span>
                        <span class="badge bg-danger"  *ngIf="pedido.idEstado == 3">Cancelado</span>
                    </td>
                    <td class=""><a routerLink="/pages/detallePedido/{{pedido.idPedido}}">Ver detalle..</a></td>
                </tr>
                
            </tbody>
        </table>
    </div>
</section>