<!--CONTENIDO VERTICAL-->
<section class="w-75 centrar">

    <div class="title1">
        <h1>Sobre Nosotros</h1>
    </div>
    <br>

    
        <div class="card mb-3 centrar" style="max-width: 800px;">
            <div class="row g-0">
              <div class="col-md-4 text-center">
                <i class="bi bi-graph-up-arrow"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Nuestra Mision</h5>
                  <p class="card-text">Producir y vender agua baja en sodio 
                    tanto dentro de la ciudad de Cordoba como en el interior, 
                    llegando a las personas mediante un servicio distribución y 
                    atención al cliente de calidad, con el fin de satisfacer y 
                    acompañar su hidratación en las distintas actividades de la 
                    vida diaria.</p>
                  <p class="card-text"><small class="text-body-secondary"></small></p>
                </div>
              </div>
            </div>
          </div>
        
          <div class="card mb-3 centrar" style="max-width: 800px;">
            <div class="row g-0">
              <div class="col-md-4 text-center">
                <i class="bi bi-eye-fill mx-4"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Nuestra Vision</h5>
                  <p class="card-text">Lograr ser una empresa con presencia nacional,
                    siendo reconocida y elegida por brindar un producto y servicio de
                      calidad.</p>
                  <p class="card-text"><small class="text-body-secondary"></small></p>
                </div>
              </div>
            </div>
          </div>
        
          <div class="card mb-3 centrar" style="max-width: 800px;">
            <div class="row g-0">
              <div class="col-md-4 text-center">
                <i class="bi bi-people-fill mx-4"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Nuestros Valores</h5>
                  <p class="card-text">  
                    <ul>
                            <li>Trabajo en equipo</li>
                            <li>Pasión por lo que hacemos</li>
                            <li>Responsabilidad</li>
                            <li>Compromiso</li>
                            <li>Calidad en el producto y servicio</li>
                    </ul> 
                  <p class="card-text"><small class="text-body-secondary"></small></p>
                </div>
              </div>
            </div>
          </div>

<!--CONTENIDO HORIZONTAL-->
<div class="title2">
    <h1>En nuestra planta contamos con los siguientes equipos:</h1>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">

    <div class="col">
      <div class="card">
        <img src="assets\img\filtroCuarzo.png" class="img centrar" width="300" height="300">
        <div class="card-body">
          <h5 class="card-title">Filtro de cuarzo</h5>
          <p class="card-text">Se utiliza para filtrar las aguas primarias y eliminar cualquier tipo de partícula sólida presente en el agua.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="assets\img\filtroCuarzoActivado.png" class="img centrar" width="300" height="300">
        <div class="card-body">
          <h5 class="card-title">Filtro de Carbón Activado</h5>
          <p class="card-text">Éste se utiliza para la eliminación de cloro y compuestos orgánicos en el agua,
            además de eliminar hasta un 95% de sabor y olor en el agua.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="assets\img\filtroUv.png" class="img centrar" width="300" height="300">
        <div class="card-body">
          <h5 class="card-title">Esterilizador UIE</h5>
          <p class="card-text">Se utiliza para eliminar cualquier microorganismo mediante radiación ultravioleta
             + ionización de plata, garantizando así la pureza del agua envasada.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="assets\img\osmosisInversa.png" class="img centrar" width="300" height="300">
        <div class="card-body">
          <h5 class="card-title">Osmosis inversa</h5>
          <p class="card-text">Es una tecnología de membrana que permite eliminar la salinidad del agua.
             Se basa en un proceso de difusión a través de una membrana semipermeable que facilita el paso de gases disueltos
              y moléculas sin carga electroestática de bajo peso molecular.</p>
        </div>
      </div>
    </div>

    <div class="col">
        <div class="card">
          <img src="assets\img\equipoOzono.png" class="img centrar" width="300" height="300">
          <div class="card-body">
            <h5 class="card-title">Equipo de Ozono</h5>
            <p class="card-text">Es un desinfectante de bacterias y virus, le da una duración al agua de 180 días.
                 En el tratamiento del agua, el ozono actúa como el agente oxidante natural más rápido y efectivo que existe,
                  es un poderoso bactericida, virulicida y fungicida, destruye los microorganismos rompiendo por oxidación su capa protectora.</p>
          </div>
        </div>
    </div>

  </div>
  <br>
  <br>

</section>

