
<div class="card w-100 mx-auto">
    <div class="card-side front card-body">
        <img src="{{producto.urlImagen}}" class="card-img-top imagen" alt="...">
        <div class="card-body">
            <h4 class="card-title text-center ">{{producto.nombre}}</h4>
            <p class="card-text">{{producto.descripcion | slice:0:80 }}...</p>
           <span class="badge text-bg-primary p-2 mt-2">{{producto.linea}}</span>
           <span class="badge text-bg-danger p-2 mx-2 mt-2">Precio: ${{producto.precio}}</span>
        </div>


    </div>
    <div class="card-side back">
        <div class="card-body">
            <h3 class="card-title pricing-card-title text-center">{{producto.nombre}} </h3>
            <p class="card-text mb-3">{{producto.descripcion}}</p>
            <p>Seleccione la cantidad:</p>
            <div class="centrar w-75 my-3">
                <div class="input-group">
                    <div class="container">
                        <div class="row">
                            <div class="col text-start">
                                <button type="button" class="btn btn-primary w-75  " [disabled]="valorNumeric <= 1" (click)="valorNumeric = valorNumeric - 1">
                                    <i class="bi bi-dash-lg"></i>
                                </button>

                            </div>
                            <div class="col  text-center">
                                <input type="text" readonly class="form-control text-center w-100 " value="{{valorNumeric}}">

                            </div>
                            <div class="col text-end">
                                <button type="button" class="btn btn-primary  w-75  " (click)="valorNumeric = valorNumeric+ 1">
                                    <i class="bi bi-plus-lg"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="centrar w-75 my-3">
                        <h6 class=" text-bold">Total: ${{calcularTotal(producto.precio)}}</h6>
                    </div>


                </div>


            </div>

            <button type="button" class="w-100 btn btn-lg btn-outline-primary p-1 my-3"><i
                    class="bi bi-cart-plus mx-2"></i>Agregar al carrito</button>
        </div>


    </div>
</div>