*{
    padding:0;
    margin:0;
  }

  .card {
    perspective: 150rem;
    position: relative;
    height: 430px; 
    min-width: 290px;
    max-width: 290px;
    margin-bottom: 1rem;
    box-shadow: none;
    background: none;
    cursor:pointer;
    border: none;
  }
  
  .card-side {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding:2rem;
  }
  
  .card-side.back {
    transform: rotateY(-180deg);
  }
  

  .card:hover .card-side.front {
    transform: rotateY(180deg);
  }
  
  .card:hover .card-side.back {
    transform: rotateY(0deg);
  }

  .centrar{
    display: block;
    margin: 0 auto;
  }

  .imagen{
    height: 60%;
  }

  .tarjeta{

    background-color: #f0f0f0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

  }

.btn-color {
    background-color: #3e8ba5; /* Cambia este valor al color deseado */
    color: #fff; /* Establece el color del texto en blanco o en otro color contrastante */
  }
.btn-color:hover {
    background-color: #24505e;
}

.text-color1 {
  background-color: #4a8659;
  color: #FFFFFF; 
}

.text-color2 {
  background-color: #e7c157; 
  color: #000000; 
}

.tamaño-mensaje{

  height: 20px;
  font-size: 12px;
  padding: 3px;
}