<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <form class=" row card-body p-5 text-center" [formGroup]="formularioRegistro" (ngSubmit)="registrar()">
                        
                        <h3 class="mb-5 ">Cree una cuenta</h3>
                        
                        <div class="col-sm-6">
                            <div class="form-outline mb-4 text-start">
                                <label class="form-label" for="nombre">Nombre</label>
                                <input formControlName="nombre" type="text" id="nombre" class="form-control form-control-lg" placeholder="Juan"/>
                                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text-danger">
                                    <div *ngIf="nombre.errors?.['required']">
                                        El nombre es obligatorio...
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-outline mb-4 text-start">
                                <label class="form-label" for="apellido">Apellido</label>
                                <input formControlName="apellido" type="text" id="apellido" class="form-control form-control-lg" placeholder="Perez"/>
                                <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="text-danger">
                                    <div *ngIf="apellido.errors?.['required']">
                                        El apellido es obligatorio...
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-outline mb-4 text-start">
                                <label class="form-label" for="sexo">Sexo</label>
                                <select formControlName="sexo" class="form-select" id="sexo">
                                    
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                    <option value="Otro">Otro</option>
                                </select>
                                <div *ngIf="sexo.invalid && (sexo.dirty || sexo.touched)" class="text-danger">
                                    <div *ngIf="sexo.errors?.['required']">
                                        Debe seleccionar un sexo...
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-outline mb-4 text-start">
                                <label class="form-label" for="dni">Nro. Documento</label>
                                <input formControlName="dni" type="number" id="dni" class="form-control form-control-lg" placeholder="12.345.789" />
                                <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="text-danger">
                                    <div *ngIf="dni.errors?.['required']">
                                        El dni es obligatorio...
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-outline mb-4 text-start">
                                <label class="form-label" for="barrio">Barrio</label>
                                <select formControlName="barrio"  id="barrio" class="form-select form-control-lg" >
                                    <option value="0">Alto alberdi</option>
                                    <option value="0">General Paz</option>
                                    <option value="0">Nueva Cordoba</option>
                                    <option value="0">Alta Cordoba</option>
                                    <option value="0">Maipu</option>
                                </select>  
                                <div *ngIf="barrio.invalid && (barrio.dirty || barrio.touched)" class="text-danger">
                                    <div *ngIf="barrio.errors?.['required']">
                                        El barrio es obligatorio...
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-outline mb-4 text-start">
                                <label class="form-label" for="direccion">Direccion</label>
                                <input formControlName="direccion" type="text" id="direccion" class="form-control form-control-lg" placeholder="Bv. Chacabuco 680"/>
                                <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="text-danger">
                                    <div *ngIf="direccion.errors?.['required']">
                                        La direccion es obligatoria  ...
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-outline mb-4 text-start">
                                <label class="form-label" for="piso">Piso</label>
                                <input formControlName="piso" type="text" id="piso" class="form-control form-control-lg" placeholder="Planta Baja"/>
                                
                            </div>       
                        </div>
                        <div class="col-sm-6">
                            <div class="form-outline mb-4 text-start">
                                <label class="form-label" for="depto">Departamento</label>
                                <input formControlName="depto" type="text" id="depto" class="form-control form-control-lg" placeholder="8C"/>
                                
                            </div>       
                        </div>
                        <div class="col-12">
                            <div class="form-outline mb-4 text-start">
                                <label class="form-label" for="piso">Telefono</label>
                                <input formControlName="telefono" type="text" id="telefono" class="form-control form-control-lg" placeholder="Ejemplo: 351 1564844"/>
                                <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="text-danger">
                                    <div *ngIf="barrio.errors?.['required']">
                                        El telefono es obligatorio...
                                    </div>                                    
                                </div>
                            </div>    
                               
                        </div>
                       
                        <div class="col-12">                            
                            <div class="form-outline mb-4 text-start">
                                <label class="form-label" for="Email">Correo electronico</label>
                                <input formControlName="email" type="email" id="Email" class="form-control form-control-lg"  placeholder="JuanPerez@mail.com"/>
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">

                                    <div *ngIf="email.errors?.['required']">
                                        El correo es obligatorio...
                                    </div>
                                    <div *ngIf="email.errors?.['email']">
                                        Ingrese un fromato de correo correcto...
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <div class="col-12">
                            <div class="form-outline mb-4 text-start">
                                <label class="form-label" for="contraseña">Contraseña</label>
                                <input formControlName="password" [type]="ocultarPass? 'password': 'text'" id="contraseña" class="form-control form-control-lg" placeholder="********"/>                               
                                <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="text-danger">
                                    <div *ngIf="pass.errors?.['required']">
                                        La contraseña es obligatoria...
                                    </div>
                                    <div *ngIf="pass.errors?.['minlength']">
                                        La contraseña debe tener al menos ocho caracteres...
                                    </div>
                                </div>
                                <button type="button" (click)="ocultarPass = !ocultarPass" class="text-dark btn btn-link">
                                    {{ocultarPass? 'Ver contraseña...' : 'Ocultar contraseña...'}}
                                </button>
                            </div>
                        </div>               
                        <div class="d-grid gap-2">
                            <button [disabled]="formularioRegistro.invalid"  class="btn btn-primary" type="submit">Crear una cuenta</button>
                        </div>  
                        <p class="text-center mt-3">¿Ya tiene una cuenta? <a routerLink="/pages/login">Inicie sesión</a></p>                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
