
.imagen-car{
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 350px;
    
}
.texto-car{
    font-size: 1.5rem;
}
.fondito{
    background: linear-gradient(40deg, #8ed1e9f3 30%, #68b1ec 70%);
    text-align: center;
    padding-top: 5%;
    color: rgb(8, 8, 8);
}